/* general style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url(../img/natural-pattern.png);
}

h2 {
  padding: 20px;
}

a {
  text-decoration: none;
  color: green;
}
.container {
  width: 65%;
  max-width: 100%;
  margin: 1% auto;
}

/* header */
header {
  margin-bottom: 10px;
}

.image-header {
  padding: 50px 0;
  background-image: url(../img/natural-header.jpg);
  background-size: cover;
  text-align: center;
  border: 10px solid white;
}

.image-header img {
  width: 50%;
}

.image-header h2 {
  font-family: font-family: 'Montserrat', sans-serif;
  color: white;
}

.nav {
  background-color: #393532;
  text-align: center;
}

.nav .menu li {
  display: inline-block;
  padding: 0 15px;
}

.nav .menu li a {
  line-height: 45px;
  font-family: font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: bold;
}

/* main */
main::after {
  content: "";
  display: table;
  clear: both;
}

.col {
  float: left;
  background-color: white;
  border-radius: 5px;
}

aside {
  width: 20%;
}

main h1 {
  padding: 30px 30px 0 30px;
  font-size: 40px;
}

main p {
  padding: 20px;
  line-height: 25px;
}

/* left */
.left {
  margin-right: 5%;
}

.left-header {
  content: "";
  display: table;
  clear: both;
}

.left-header .ico {
  float: left;
  width: 20%;
}

.left-header .ico i {
  color: orange;
  margin: 5px 0 0 5px;
  font-size: 30px;
}

.left-header .heading {
  float: left;
  width: 80%;
}

.left-header .heading h2 {
  margin: 0 0 10px;
  padding: 0;
}

.second-nav {
  list-style: none;
}

.second-nav li {
  padding: 5px;
}

/* center */

section {
  width: 50%;
  height: 400px;
}

.right {
  margin-left: 5%;
  background-color: inherit;
}

.box {
  margin-bottom: 20px;
  height: 150px;
}

.box:last-child {
    margin-bottom: 0;
}

footer {
  height: 100px;
  background: lightblue;
  margin-top: 10px;
}
